body {
  background: #141414;
  color: #ffffff;
}

.moviesArea {
  margin-top: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.searchField {
  margin-top: 20px;
  width: 60%;
}
.header-items {
  display: flex;
  justify-content: space-evenly;
  padding: 18px;
}

#add-button {
  padding: 5px;
  border-radius: 5px;
  color: red;
}
